<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Upload</title>
    </head>
    <body>
    <div style="text-align: center;">
    <!-- List of uploaded documents -->
    {% if files %}
        <ul>
        {% for file in files %}
            <li><a href="{{ file.file.url }}">{{ file.file.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <p><input type="submit" value="Upload" /></p>
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.file.label_tag }} </p>
            <p>
                {{ form.file.errors }}
                {{ form.file }}
            </p>

            <p>{{ form.file.help_text }}</p>
        </form>
    </div>
    </body>
</html>