{% extends 'base.html' %}
    {% load static %}
{%  block content %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src = "{% static '/js/json2table.js' %}" type="text/javascript"></script>
    <script src="{% static '/js/jquery.dragtable.js' %}"></script>



    <input type="button" onclick="CreateTableFromJSON({{ data }})" value="Create Table" />
    <br>
    <br>
    <select></select>&nbsp;
    <input type="button" onclick="HideNShow()" value="Remove Selected" />
    <br/><br/>
    <table id="showTable" class = "table table-borderless" align="center"></table>


{% endblock %}